*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
html,body{
    overflow-x: hidden;
}
/*------------------------------------------ this is for the header area ---------------------------------*/
.container{
    width:200vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:5rem;
    padding: 0 800px;

}
.header{
    min-height: 60vh;
     width:100%;
     background-image: url(images/booking.webp);
     background-position:center;
     background-size: cover;
     position:relative;
}
.text-box{
    width :90%;
    color: hotpink;
    position:absolute;
    font-size:30px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/* ----------------------------------------this is for the conditions that has been given -----------------------------------------*/

.row{
    margin-top: 2%;
    padding: 30px;
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: space-between;
}
.ticket-purchase1{
    width: 75%;
    overflow: hidden;
    font-size: 15px;
    line-height: 1;
    color : rgb(238, 14, 14);
    margin: 15px auto;
}
.ticket-pricing-headers{
    padding: 20px;
    background:rgb(215, 82, 104);
    color: white;
}
.ticket-pricing-headers h1, .ticket-pricing-headers p{
    text-align: center;
    margin: 0;
    font-size: 25px;
}
.ticket_pricing_header h1{
    font-size: 1.5em;
    font-weight: 300;
    padding: 5px;
}
.ticket_pricing_header p{
    font-size: 10px;
    font-weight: 100;
}
.ticket-pricing-plans{
    padding: 30px;
}
.pricing-plans-list{
    padding: 0;
    margin: 0;
}
.pricing-plans-feature{
    list-style: none;
    margin: 0;
    padding-left: 25px;
    position: relative;
    font-size: 0.9em;
}
.pricing-plans{
    padding: 25px;
    border-top: 1px solid #eeee;
    display: flex;
    flex-direction: column;
}
.cost{
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: black;
}

.text-value{
    font-size: 0.9em;
    text-align: center;
    margin: 0 0 10px 0;
}
/*--------------------------Ticket Booking Section------------------------------*/


ticket_booking{
    width: 80%;
    margin: auto;
    margin-top: 70px;
    padding-bottom: 50px;
    box-shadow: 0 0 40px 0px rgba(16, 65, 2, 0.274);
    background-color: rgba(195, 255, 195, 0.11);
    border-radius: 30px;  
}
.ticket_booking h1{
   text-align: center;
   padding-top: 30px;
}
.ticket_booking p{
    font-size: 20px;   
}
.ticket_booking h1 , .ticket_booking p{
    text-align: center;
    width: 100%;
    margin: auto;
}
/*.row{
    margin-top: 2%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
*/

/*.booking-form{
    background-color: rgba(195, 255, 195, 0.075);
    border-radius: 30px;
    box-shadow: 0 0 20px 0px rgba(16, 65, 2, 0.274);
    overflow: hidden;
    padding: 20px;
    width: 65%;
    padding-top: 20px;
    margin: auto;
    margin-bottom: 25px;
    transition: 1s;
}
*/

/*.contact-col div{
    margin-bottom: 25px;
}*/






/* ----------------this is for the buttons in the forms -----------------------*/
.localContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
#addFavourite, #orderFavourite,#AddOrder,#checkLoyality,#placeOrder,#AddOrders{
    display: inline-block;
    width: 100%;
    flex-basis: 49%;
    border: 2px solid rgb(208, 51, 77);
    color:black;
    border-radius: 10px;
    transition: 1s;   
}
#addFavourite, #orderFavourite {
    padding: 15px !important;
}

#addFavourite,#orderFavourite,#checkLoyality,#placeOrder,#AddOrders{
    padding: 5px;
}
#order{
    margin-top: 15px;
}
#overallOrder , #order {
    font-style:initial;
}
.hr{
    color:rgb(208, 51, 77) ;
    font-size: 25px;
}
/*-----------------------------this for the form that has put side by side with a image---------*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
.container::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(images/online-ticket-booking_53876-167150.webp) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}
.contact-box{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}
.left{
    height: 85%;
    width: 100%;
    background: url(images/506-9154-tickets-960px-01a355325cb3581d.webp) no-repeat center;
    background-size: cover;
}
.right{
padding: 25px 40px;
}
.selec_act,.cmbDuration{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: #444;
    border: 2px solid #444;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 3s;
    

}
.selec_act:hover{
    background-color: rgba(0,0,0,0.1);
}
.selec_act:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47);

}

.cmbDuration:hover{
    background-color: rgba(0,0,0,0.1);
}
.cmbDuration:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47);
    
}
/* for the hidden items*/
.hidden {
    display: none;
}
/* designs for the table on the form*/
table {
    
    width: 100%;
}
  #divOrderstable {
    margin: auto;
    padding: 7px;
    margin-top: 10px;
    
}
  
th,table,td{
    border: 2px solid rgb(219, 101, 120);
}
 /* this for the small input boxes*/
#Tokens,#no1,#no2,#Annual_Pasee {
    width: 250px;
    padding: 0.5rem 1rem;
    outline: #444;
    border: 2px solid #444;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1rem;
    margin-bottom: 22px;
    transition: 3s;
}
.icon{
    width: 200px;
    background-color:rgb(208, 51, 77);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15px;
    border-radius: 20%;   
}
#cat_button{
    box-align: center ; 
}
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
#myBtn:hover {
    background-color: #555;
  }
@media only screen and (max-device-width:900px ){
    .row{
        flex-direction: column;
    }
}    
@media only screen and (max-device-width:250px ){
    .row{
        flex-direction: column;
    }
}

@media only screen and (max-device-width:1500px ){
    .row{
        flex-direction: column;
    }
} 




































































































































































































































































































































































