*{
    margin:0;
    padding: 10;
}
 
body{
  background: url(images/aged-burnt-paper-mixed-1193464.jpg);
}
 
/*.flex{
    display: grid;
    width: 300px;
    
    align-items: center;
}
.flex1{
    flex: 1;
    height: 555px;
    border: 2px solid whitesmoke;
    margin-left: 80px;
    margin-bottom: 0%;
    box-sizing: border-box;
    background:rgb(221, 212, 212);
    flex-basis: 32%;
    padding: 50px 12px;
   
}
.flex2{
    flex: 1;
    height: 555px;
    border: 2px solid whitesmoke;
    margin-left: 80px;
    margin-bottom: 0%;
    box-sizing: border-box;
    background:rgb(221, 212, 212);
    flex-basis: 32%;
    padding: 50px 12px;

}*/

.row1{
    margin-top: 2%;
    padding: 30px;
    display: grid;
}
.subt{
    flex-basis: 50%;
    border:1px solid saddlebrown;
    border-radius: 20px;
    margin-bottom: 0%;
    padding: 50px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background:rgb(240, 233, 233);
}
.anu{
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  
}
#images{
    margin-left:20px;
}
h1{
    text-align: center;
    font-weight: 500px;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
}
 .nav-links img{
    width: 150px;
    height: 150px;
    padding-left: 1%;
    padding-bottom: 5%; 
} 
.nav-links{
    background: #222;
    width:100%;
    height: 17vh;
}
nav{
    background: #000;
    opacity: .7;
}
.nav{
    margin:0px;
    padding: 0px;
    list-style: none;
    margin-right: 100px;
    float: right;
}
.nav li{
    float:left;
    width: 159px;
    height: 40px;
    background-color: black;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    margin-right: 2px;
    margin-top: 50px;
    
}
.nav li a{
   
    text-decoration: none;
    color: white;
    
}
.nav li a:hover{
   background-color: gray;
   display: block;
}

.header5{
    min-height: 80vh;
    width:100%;
    background-image:url(images/Yapahuwa-banner.webp);
    background-position:center;
    background-size: cover;
    position:relative;
}
.row{
    margin-top: 2%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
p{
    text-align:justify;
    font-size: 120%;
    font-weight: 200%;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    padding: 20px 0;
    background-color:gray;
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 30px;
    color: white;
    width: 40px;
    height: 40px;
   margin: 0 10px;
   opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
    color:black;
}
.footer ul{
    margin-top: 0;
    padding:0;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    text-decoration: none;
  
}
.footer ul li {
    display: inline-block;
    padding: 0 20px;
  
}
.footer ul li a:hover{
    opacity: 1;
    color: black;
}
.footer .copyright{
    margin: 15px;
    text-align: center;
    font-size: 13px;
    color: black;
}
input[type=submit] {
    background-color: black;
    opacity:.8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  input[type=submit]:hover {
    background-color:rgb(63, 61, 61);
}
.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(166, 102, 28);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #555;
  }
/*#flex1:hover{
    transform: scale(1.1,1.1);
}
#flex2:hover{
    transform: scale(1.1,1.1);
}*/
#subanu:hover{
    transform: scale(0.9,0.9);
}

@media (max-device-width:900px ){
    .row{
        flex-direction: column;
    }
    .flex{
        flex-direction: column;
        margin-left:-1px;
    }
    p{
        text-align:justify;
        font-size:120%;
        font-weight: 200%;
    }
    .flex2{
        margin-left: 80px;
    }
    .nav li{ 
        margin: 0px;
        margin-left: 0px;   
        font-size: 17px;
        width:200px; 
        height: 40px; 
    }
}
@media (device-width:414px){
    
    .nav li{ 
        margin: 0px;
        margin-left: 0px;   
        font-size: 17px;
        width: 200px; 
        height: 40px; 
    }
    .flex1,.flex2{
        
        margin-left:120px;
    }
    #images{
        margin-left: 35px;
    }
    
    }  
@media (device-width:360px){
    .flex1,.flex2{
     margin-left:50px;
    }
    
}
@media (device-width:820px ){
    .nav li{
         width: 500px;
         height: 40px;
         font-size: 25px;
    }
    .flex1,.flex2{
        margin-left: 500px;
    }
       
  }
  @media (device-width:768px ){
    .nav li{
        width: 500px;
        height: 40px;
        font-size: 25px;
    }
    .flex1,.flex2{
       margin-left:470px;
    }
      
 }
@media(device-width:412px){
    .nav li{   
            font-size: 17px;
            width:250px; 
            height:40px; 
    }
    .flex1,.flex2{
            
            margin-left:120px;
    }
        
} 
 @media (device-width:540px){
    .flex{
        margin-left:80px;
    }
    
}
 @media (device-width:912px ){
    .nav li{
        width: 420px;
        height: 40px;
        margin: 0;
        font-size:30px;
    }
    .flex{
        flex-direction:column;
    }
    .flex1,.flex2{
        margin-left: 600px;
    }
} 
 @media (device-width:1024px ){
    .nav li{
       width: 100px;
       height: 75px;
       margin-top: 10px;
    }  
    .nav-links{
        height:22vh;
    }
    .header5{
        min-height: 80vh;
        width: 1300px;;
        background-image:url(images/Yapahuwa-banner.webp);
        background-position:center;
        background-size: cover;
        position:relative;
    }
    .flex1{
        flex: 1;
        height: 500px;
        border: 2px solid whitesmoke;
        margin-left: 50px;
        margin-bottom: 0%;
        box-sizing: border-box;
        background:rgb(221, 212, 212);
        flex-basis: 32%;
        padding: 50px 0px;
    }
    .flex2{
        margin-left:250px;
    }
    .about{
        margin-left:300px;
    }
    h1{
        margin-left: 350px;
    }
    .footer{
        width: 1300px;
    }
       
    
}    
@media (max-device-width:320px ){
    .flex1,.flex2{
        margin-left:20px;
    }
    .nav-links{
        height: 22vh;
    }
}   
@media (device-width:280px){
    .flex1,.flex2{
        width: 250px;
    }
    #images{
        width:220px;
    }
    #flex1,#flex2{
        margin-left:-15px;
    }
} 
@media (device-width:1280px ){
    .nav li{
       width: 100px;
       height: 75px;
       margin-top: 10px;
    }  
    .nav-links{
        height:22vh;
    }
    .header6{
        min-height: 80vh;
        width:1500px;
        background-image:url(images/kandy.jpg);
        background-position:center;
        background-size: cover;
        position:relative;
    }
    .flex2{
        flex: 1;
        border: 2px solid whitesmoke;
        margin-left: 250px;
        margin-bottom: 0%;
        box-sizing: border-box;
        background:rgb(221, 212, 212);
        flex-basis: 32%;
        padding: 45px 15px;
    
    }
    
    .about{
        margin-left:150px;
    }
    h1{
        margin-left:80px;
    }
    .footer{
        width: 1300px;
    }
    .flex1{
        padding: 50px 5px;
       margin-left:45px;
    }
}    